body {
    margin: 0;
    overflow: hidden;
}

.gallery {
    display: flex;
    position: absolute;
    white-space: nowrap;
    transition: transform 0.5s ease;
}

.gallery img {
    max-height: 100vh;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.gallery img:hover {
    transform: scale(1.1);
    z-index: 1;
}
