body {
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.banner {
  height: 33vh;
  background-color: #5c84ff; /* Change this to your desired color */
}

.gallery {
  display: flex;
  position: relative;
  white-space: nowrap;
  transition: transform 0.5s ease;
  flex-grow: 1;
}
